.main {

    &_container {
        width: 100%;
        max-width: 1113px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &_first {

        &--section {
            padding-bottom: 205px;
        }

        &--title {
            max-width: 739px;
            padding-bottom: 32px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 36px;
            line-height: 52.66px;
            letter-spacing: 0%;
            text-align: center;
            color: #323232;

        }

        &--text {
            max-width: 730px;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 25.36px;
            letter-spacing: 0%;
            text-align: center;
            color: #999999;
            padding-bottom: 70px;
        }

        &--cards {
            display: flex;
            justify-content: center;
            gap: 27px;
            padding-bottom: 55px;
        }

        &--card {
            display: flex;
            gap: 17px;

            &--title {
                font-family: Montserrat;
                font-weight: 600;
                font-size: 18px;
                line-height: 21.94px;
                letter-spacing: 0%;
                color: #000000;
                padding-bottom: 12px;
            }

            &--text {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 14px;
                line-height: 22.19px;
                letter-spacing: 0%;
                color: #999999;
            }

            &--info {
                padding-top: 46px;
            }
        }

        &--btn {
            box-shadow: 0px 0px 10px 0px #6F6F6F40;
            background-color: #4985FF;
            width: 200px;
            height: 45px;
            border-radius: 30px;
            border: 0;
            cursor: pointer;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.5px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            transition: background-color 0.6s ease, transform 0.6s ease;

            &:hover {
                background-color: #12479c;
                transform: scale(1.1);
            }
        }
    }

    &_second {
        &--section {
            background-color: #F6F6F8;
        }

        &--top {
            display: flex;
            gap: 121px;
            padding-bottom: 90px;
            border-bottom: 1px solid #E0E0E0;


            &--left {
                max-width: 489px;
                width: 100%;
                padding-top: 152px;

                &--title {
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 52.66px;
                    letter-spacing: 0%;
                    color: #323232;
                    margin-bottom: 60px;
                }

                &--text {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25.36px;
                    letter-spacing: 0%;
                    color: #999999;
                    margin-bottom: 42px;
                }

                &--link {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.5px;
                    letter-spacing: 0%;
                    text-decoration: underline;
                    text-decoration-style: solid;
                    text-decoration-thickness: Auto;
                    color: #4985FF;
                }
            }

            &--right {
                padding-top: 100px;
            }
        }

        &--bottom {
            padding-top: 70px;
            padding-bottom: 70px;

            &--cards {
                display: flex;
                justify-content: center;
                gap: 100px;
            }

            &--card {
                &--top {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    margin-bottom: 10px;
                }

                &--digit {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 52.66px;
                    letter-spacing: 0%;
                    color: #000000;
                }

                &--text {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25.36px;
                    letter-spacing: 0%;
                    color: #999999;
                }
            }
        }
    }

    &_third {
        &--section {
            padding-top: 100px;
            padding-bottom: 85px;

            background: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        &--top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 70px;

            &--title {
                max-width: 540px;
                font-family: Montserrat;
                font-weight: 700;
                font-size: 36px;
                line-height: 52.66px;
                letter-spacing: 0%;
                color: #FFFFFF;
            }

            &--btn {
                width: 200px;
                height: 45px;
                border-radius: 30px;
                cursor: pointer;
                border: 0;
                outline: none;
                background-color: #4985FF;
                font-family: Montserrat;
                font-weight: 500;
                font-size: 16px;
                line-height: 19.5px;
                letter-spacing: 0%;
                text-align: center;
                color: #FFFFFF;
            }
        }

        &--bottom {
            padding-bottom: 85px;
            border-bottom: 1px solid #E0E0E0;

            &--cards {
                display: flex;
                justify-content: center;
                gap: 30px;
            }

            &--card {
                &--title {
                    span {
                        color: #4985FF;
                    }

                    margin-bottom: 30px;
                    margin-top: 30px;
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21.94px;
                    letter-spacing: 0%;
                    color: #000000;


                }

                &--text {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25.36px;
                    letter-spacing: 0%;
                    color: #999999;
                    margin-bottom: 47px;
                }

                &--link {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.5px;
                    letter-spacing: 0%;
                    text-decoration: underline;
                    text-decoration-style: solid;
                    text-decoration-thickness: Auto;
                    color: #4985FF;
                }
            }
        }
    }

    &_fourth {
        &--section {
            background-color: #F6F6F8;
            padding-bottom: 130px;
        }

        &--title {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 36px;
            line-height: 52.66px;
            letter-spacing: 0%;
            text-align: center;
            color: #000000;
            padding-top: 100px;
            margin-bottom: 28px;
        }

        &--text {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 25.36px;
            letter-spacing: 0%;
            text-align: center;
            color: #999999;
            margin-bottom: 28px;
        }

        &--cards {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-bottom: 50px;
        }

        &--btn {
            border: 0;
            border-radius: 30px;
            width: 200px;
            height: 45px;
            cursor: pointer;
            background-color: #4985FF;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.5px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            transition: 0.6s ease-in-out;

            &:hover {
                background-color: #12479c;
                transform: scale(1.1);
            }
        }
    }

    &_fifth {
        &--section {
            background-image: url("../images/fifth-back.png");
            background-size: 100% 570px;
            background-repeat: no-repeat;
            padding-top: 70px;
            padding-bottom: 85px;

            .main_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-bottom: 1px solid #E0E0E0;
                padding-bottom: 85px;
            }
        }



        &--title {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 36px;
            line-height: 52.66px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        &--text {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 25.36px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 70px;
        }
&--btn {
    display: none;
}
    }

    &_sixth {
        &--section {
            padding-bottom: 85px;
        }

        &--title {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 18px;
            line-height: 21.94px;
            letter-spacing: 0%;
            text-align: center;
            color: #000000;
            margin-bottom: 20px;
        }

        &--text {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 25.36px;
            letter-spacing: 0%;
            text-align: center;
            color: #999999;
            margin-bottom: 30px;

            &--bottom {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 13px;
                line-height: 20.6px;
                letter-spacing: 0%;
                text-align: center;
                color: #999999;
            }
        }

        &--email {
            display: flex;

            margin-bottom: 35px;


            &--input {
                box-shadow: 0px 0px 10px 0px #6F6F6F40;
                width: 299px;
                height: 45px;
                border: 1px solid #f2f2f2;
                padding-left: 33px;
                background-color: #FFFFFF;
                border-radius: 30px 0 0 30px;
                outline: none;

                &::placeholder {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20.6px;
                    letter-spacing: 0%;
                    color: #999999;
                }
            }

            &--btn {
                box-shadow: 0px 0px 10px 0px #6F6F6F40;
                width: 190px;
                height: 45px;
                background-color: #4985FF;
                border: 0;
                font-family: Montserrat;
                font-weight: 500;
                font-size: 16px;
                line-height: 19.5px;
                letter-spacing: 0%;
                text-align: center;
                color: #FFFFFF;
                border-radius: 0  30px 30px 0;
            }
        }
    }
}

@import "../scss/adeptive/main-adaptive"