@media screen and (max-width: 1135px) {
    .header {
        &_top {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        &_top {
            display: none;
        }

        &_mobile--menu {
            display: flex;
            justify-content: end;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width:450px) {
    .header {
        &_bottom--title {
            font-size: 35px;
        }
    }
}